<nz-list [nzSplit]="false">
  <nz-list-item>Unit 1</nz-list-item>
  <nz-list-item>Unit 2</nz-list-item>
  <nz-list-item>Unit 3</nz-list-item>
  <nz-list-item>Unit 4</nz-list-item>
  <nz-list-item>Unit 5</nz-list-item>
  <nz-list-item>Unit 6</nz-list-item>
  <nz-list-item>Unit 7</nz-list-item>
  <nz-list-item>Unit 8</nz-list-item>
  <nz-list-item>Unit 9</nz-list-item>
  <nz-list-item>Unit 10</nz-list-item>
  <nz-list-item>Unit 11</nz-list-item>
  <nz-list-item>Unit 12</nz-list-item>
  <nz-list-item>Unit 13</nz-list-item>
  <nz-list-item>Unit 14</nz-list-item>
  <nz-list-item>Unit 15</nz-list-item>
  <nz-list-item>Unit 16</nz-list-item>
  <nz-list-item>Unit 17</nz-list-item>
  <nz-list-item>Unit 18</nz-list-item>
  <nz-list-item>Unit 19</nz-list-item>
  <nz-list-item>Unit 20</nz-list-item>
  <nz-list-item>Unit 21</nz-list-item>
  <nz-list-item>Unit 22</nz-list-item>
  <nz-list-item>Unit 23</nz-list-item>
  <nz-list-item>Unit 24</nz-list-item>
  <nz-list-item>Unit 25</nz-list-item>
  <nz-list-item>Unit 26</nz-list-item>
  <nz-list-item>Unit 27</nz-list-item>
  <nz-list-item>Unit 28</nz-list-item>
  <nz-list-item>Unit 29</nz-list-item>
  <nz-list-item>Unit 30</nz-list-item>
  <nz-list-item>Unit 31</nz-list-item>
  <nz-list-item>Unit 32</nz-list-item>
  <nz-list-item>Unit 33</nz-list-item>
  <nz-list-item>Unit 34</nz-list-item>
  <nz-list-item>Unit 35</nz-list-item>
  <nz-list-item>Unit 36</nz-list-item>
  <nz-list-item>Unit 37</nz-list-item>
  <nz-list-item>Unit 38</nz-list-item>
  <nz-list-item>Unit 39</nz-list-item>
  <nz-list-item>Unit 40</nz-list-item>
</nz-list>